<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://xmlns.jcp.org/xml/ns/javaee"
	xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee 
	http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd"
	id="WebApp_ID" version="4.0">
	<display-name>Web App</display-name>
	<welcome-file-list>
		<welcome-file>userlogin.jsp</welcome-file>

	</welcome-file-list>

	<error-page>
<error-code>404</error-code>
<location>/error.jsp</location>
	</error-page>
	<!-- Log In Starts -->
	<servlet>
		<servlet-name>loginVerification</servlet-name>
		<servlet-class>com.servlets.Login</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>loginVerification</servlet-name>
		<url-pattern>/login</url-pattern>
	</servlet-mapping>
	<!-- Log In Ends -->
	<!-- Log Out Starts -->
	<servlet>
		<servlet-name>logout</servlet-name>
		<servlet-class>com.servlets.Logout</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>logout</servlet-name>
		<url-pattern>/logout</url-pattern>
	</servlet-mapping>
	<!-- Log Out Ends -->
	<!-- Admin Login ( Starts ) -->
	<servlet>
		<servlet-name>adminLogin</servlet-name>
		<servlet-class>com.servlets.AdminLogin</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>adminLogin</servlet-name>
		<url-pattern>/adminLogin</url-pattern>
	</servlet-mapping>

	<!-- Inserted value -->
	<servlet>
		<servlet-name>registerStudent</servlet-name>
		<servlet-class>com.servlets.registerStudent</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>registerStudent</servlet-name>
		<url-pattern>/registerStudent</url-pattern>
	</servlet-mapping>

	<!-- Change passsword -->
	<servlet>
		<servlet-name>updatePassword</servlet-name>
		<servlet-class>com.servlets.changePassword</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>updatePassword</servlet-name>
		<url-pattern>/changePassword</url-pattern>
	</servlet-mapping>

	<!-- updateDetail (Admin) -->
	<servlet>
		<servlet-name>updateDetail</servlet-name>
		<servlet-class>com.servlets.updateStudent</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>updateDetail</servlet-name>
		<url-pattern>/updateDetail</url-pattern>
	</servlet-mapping>
	<!-- updateDetail (Admin) ending -->
	<!-- addMessage (Admin) -->
	<servlet>
		<servlet-name>addMessage</servlet-name>
		<servlet-class>com.servlets.AddMessage</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>addMessage</servlet-name>
		<url-pattern>/addMessage</url-pattern>
	</servlet-mapping>
	<!-- addMessage (Admin) ending -->
</web-app>